$color-white:   #ffffff;
$color-black:   #000000;
$color-gray-98:   #faf9f7;
$color-gray-95:   #f2f2f0;
$color-gray-90:   #e5e4e1;
$color-blue-80:   #c2c7cc;
$color-blue-60:   #8a9199;
$color-blue-30:   #45484d;
$color-blue-15:   #212226;
$color-yellow-100:  #ffc336;
$color-red-95:    #f26a3d;
$primary-color: $color-red-95;

.markdown-formatting {
  
  // Typography
  font-family: 'Museo Slab';
  font-weight: normal;
  line-height: 1.4em;
  margin-top: em(5);

  a {
    color: $color-blue-15;
    text-decoration: none;
    font-weight: 400;
    transition: all ease-out 0.2s;
  }
  a:hover,
  a:focus {
    color: $color-black;
  }

  h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizeLegibility;
    color: $color-black;
  }

  h1 {
    font-size: 2em;
    line-height: 1em;
    text-indent: -1px;
    margin: 2em 0 -0.5em;
  }

  h2 {
    font-size: 1.75em;
    line-height: 1.111em;
    text-indent: -1px;
    margin: 2.286em 0 -0.571em;
  }

  h3 {
    font-size: 1.5em;
    line-height: 1.333em;
    margin: 2em 0 -0.666em;
  }

  h4 {
    font-size: 1.25em;
    line-height: 1.2em;
    margin: 2.4em 0 -0.8em;
  }

  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit;
  }

  p, ul, ol {
    margin: 2em auto;
  }

  ul {
    list-style: none;
  }
  li {
    position: relative;
  }

  ul > li {
    list-style-type: disc;
  }
  ol > li {
    list-style-type: decimal;
  }

  ol {
    list-style-type: none;
    counter-reset: item;
  }

  ul, ol {
    padding: 0 1.3em;
    li {
      padding: 0.4em 0;
      line-height: 1em;
    }
  }

  ol ol, ul ul, ul ol, ol ul {
    padding-left: 30px;
    margin: 15px 0;
  }

  hr {
      display: block;
      height: 1px;
      margin: 2em 0;
      padding: 0;
    background: $color-gray-90;
      border: 0;
  }

  blockquote {
      margin: 2em auto;
      padding: 1em;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border-left: 0.25em solid $color-gray-90;
      font-style: italic;
      font-weight: 400;
      color: $color-blue-30;
      //background: $color-gray-98;
  }
  blockquote p {
    margin: 1em auto;
  }
  blockquote p:first-child {
    margin-top: 0;
  }
  blockquote p:last-child {
    margin-bottom: 0;
  }
  em, i {
    font-style: italic;
    color: $color-blue-15;
  }
  strong, b {
    font-weight: 700;
    color: $color-blue-15;
  }

  small {
      font-size: 0.9em;
      color: $color-blue-30;
  }


  dl {
      margin: 20px 0;
  }
  dl dt {
      float: left;
      width: 180px;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: bold;
      margin-bottom: 10px;
  }
  dl dd {
      margin-left: 200px;
      margin-bottom: 12px;
  }

  mark {
      background-color: $color-yellow-100;
  }
  code, tt {
    font-family: 'PT Sans';
    position: relative;
    margin: 0 0.333em;
    padding: 0.333em 0.666em;
    font-size: 0.75em;
    white-space: pre;
    background: $color-gray-98;
      border: 1px solid $color-gray-90;
    top: -2px;
  }

  pre {
    position: relative;
    margin: 2em auto;
    padding: 1em;
    overflow: hidden;
    white-space: pre;
    background: $color-gray-98;
      border: 1px solid $color-gray-90;
    box-sizing: border-box;
  }
  pre .lines {
    position: absolute;
    width: 2.666em;
    height: 100%;
    left: 0;
    top: 0;
    padding: 1.333em 0;
    border-right: 1px solid $color-gray-90;
    font-size: 0.75em;
    line-height: 2em;
    text-align: right;
    box-sizing: border-box;
    background: rgba(255,255,255,0.5);
  }
  pre .lines .line {
    display: block;
    padding-right: 0.333em;
      color: $color-blue-30;
  }

  pre code, pre tt {
    position: static;
    top: auto;
    margin: -1.333em -1.333em -1.333em 1.333em;
    padding: 1.333em;
    overflow: scroll;
    font-size: 0.75em;
    line-height: 2em;
    white-space: pre;
    background: transparent;
    border: none;
    vertical-align: inherit;
  }

  kbd {
      display: inline-block;
      margin-bottom: 0.5em;
      padding: 1px 8px;
      border: $color-gray-90 1px solid;
      color: $color-blue-30;
      text-shadow: $color-white 0 1px 0;
      font-size: 0.9em;
      font-weight: bold;
      background: $color-gray-98;
      border-radius: 4px;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 $color-white inset;
  }

  table {
    width: 100%;
    max-width: 100%;
    margin: 2em 0;
    background-color: transparent;
    border: 1px solid $color-gray-90;
  }

  table th,
  table td {
      position: relative;
      padding: 0.5em;
      line-height: 0.95em;
      text-align: left;
      border: 1px solid $color-gray-90;
  }
  table th {
    font-weight: 500;
    font-size: 0.75em;
    line-height: 1.25em;
    padding: 0.666em;
    color: $color-black;
  }
  table td:after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -1px;
    top: -1px;
    padding: 1px;
    z-index: -1;
    content: '';
    background: $color-gray-98;
  }


  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 2.5em auto;
  }

}
